
.quorabox{
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid lightgray;
    background-color: whitesmoke;
    border-radius: 5px;
    cursor: pointer;
}
.quorabox:hover{
   
    border: 1px solid gray;
   
}


.quorabox__info{
    display: flex;
    align-items: center;
}

.quorabox__info >h5{
    color: #212529;
    font-weight: 300;
    margin-left: 10px;
}
.quorabox___quora{
   display: flex;
   margin-top: 8px;

}
.quorabox___quora > p{
      color: gray;
      font-weight: bold;
      font-size: large; 
 }